<html>
  <header>
    <title>Create Owner</title>
    <link href="<%= url('/pets_style.css') %>" rel="stylesheet" type="text/css" />
  </header>

  <body>
    <h3>Create a new owner</h3>
    <h4><a href='/'>All Owners</a></h4>
    <form action='/owners' method='POST' class='centered'>
      <input type='text' name='first_name' placeholder="Owner's Name" required/>
      <input type='submit' value='Create New Owner' />
    </form>
  </body>
</html>
